body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  max-width: 1440px;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 1158px;
}

.section {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 120px;
  padding-bottom: 120px;
}

img {
  display: block;
}

/* header */

.top-bar {
  border-bottom: 1px solid #e7e9fc;
}

.header {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  height: 72px;
  align-items: center;
}

.top-bar-navigation {
  display: flex;
  align-items: center;
  margin-right: 332px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-part {
  color: #2e2f42;
}

.top-bar-menu {
  display: flex;
  gap: 40px;
}

.top-bar-menu-item {
  padding-top: 24px;
  padding-bottom: 24px;
}

.top-bar-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.top-bar-menu-link:hover {
  color: #404bbf;
}

.top-bar-menu-link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-details {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts-details:hover {
  color: #404bbf;
}

.contacts-details:focus {
  color: #404bbf;
}

/* first section */

.section-initial {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.initial {
  max-width: 1440px;
}

.main-title {
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin-bottom: 48px;
  align-items: center;
  margin-left: 316px;
  text-align: center;
}

.button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: 480px;
}

.button-text:hover {
  background-color: #404bbf;
}

.button-text:focus {
  background-color: #404bbf;
}

/* second section */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.components-list {
  display: flex;
  gap: 24px;
}

.components-list-item {
  width: 264px;
  text-align: left;
}

.components-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.components-list-item-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

/* third section */

.section-team {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  gap: 24px;
}

.section-team-title {
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

.name-position {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-list-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.team-list-item-position {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
}

/* fourth section */

.section-portfolio-title {
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  text-align: left;
}

.title-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-list-item-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

/* footer */

.lower-bar {
  background-color: #2e2f42;
  text-align: left;
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-web {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.part-logo {
  color: #f4f4fd;
}

.lower-bar-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
