body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* header */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-part {
  color: #2e2f42;
}

.top-bar-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.top-bar-menu-link:hover {
  color: #404bbf;
}

.top-bar-menu-link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contacts-details {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts-details:hover {
  color: #404bbf;
}

.contacts-details:focus {
  color: #404bbf;
}

/* first section */

.section-initial {
  background-color: #2e2f42;
}

.main-title {
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}

.button-text:hover {
  background-color: #404bbf;
}

.button-text:focus {
  background-color: #404bbf;
}

/* second section */

.components-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.components-list-item-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

/* third section */

.section-team {
  background-color: #f4f4fd;
}

.section-team-title {
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.team-list-item {
  background-color: #ffffff;
}

.team-list-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-list-item-position {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
}

/* fourth section */

.section-portfolio-title {
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.portfolio-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-list-item-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

/* footer */

.lower-bar {
  background-color: #2e2f42;
}

.part-logo {
  color: #f4f4fd;
}

.lower-bar-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
